ipynb/wandb
ipynb/.ipynb_checkpoints
ipynb/__pycache__
learning_from_data/__pycache__
learning_from_data/wandb
.vscode
learning_from_data/custom_laplacian
theoretical_analysis/__pycache__
logs_old
plots_old
__pycache__ 